<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
xmlns:xacro="http://www.ros.org/wiki/xacro"
name="tams_motorhand">
  <xacro:include filename="$(find teleop_motorhand)/urdf/tams_motorhand.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/materials.urdf.xacro" />
  <!-- hand with cylindrical base drifts in gazebo, attach it to the world -->
  <link name="world" />
  <joint name="rh_world_joint" type="fixed">
    <parent link="world" />
    <child link="rh_forearm" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
  <!-- <joint name="rh_world_joint" type="floating">
    <parent link="world" />
    <child link="rh_forearm" />
  </joint> -->
  <xacro:tams_motorhand prefix="rh_" />
</robot>
