<launch>

  <arg name="reset" default="false"/>
  <!-- If not specified, we'll use a default database location -->
  <arg name="moveit_warehouse_database_path" default="$(find sr_moveit_hand_config)/default_warehouse_mongo_db" />
  <arg name="remote_warehouse" default="false"/>

  <!-- Launch the warehouse with the configured database location -->
  <include unless="$(arg remote_warehouse)" file="$(find sr_moveit_hand_config)/launch/warehouse.launch">
    <arg name="moveit_warehouse_database_path" value="$(arg moveit_warehouse_database_path)" />
  </include>

  <include if="$(arg remote_warehouse)" file="$(find sr_remote_warehouse)/launch/remote_warehouse.launch">
    <arg name="launch_services" value="false"/>
  </include>

  <!-- If we want to reset the database, run this node -->
  <node if="$(arg reset)" name="$(anon moveit_default_db_reset)" type="moveit_init_demo_warehouse" pkg="moveit_ros_warehouse" respawn="false" output="screen" />

  <node name="moveit_warehouse_services" pkg="moveit_ros_warehouse" type="moveit_warehouse_services" output="screen"/>
  
</launch>
