<launch>
  <arg name="planning" default="ompl"/>
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false"/>
  <arg name="load_robot_description" default="true"/>
  <arg name="gui" default="true"/>

  <!-- ik solver possible values sr_hand_kinematics/trac_ik/bio_ik -->
  <arg name="hand_ik_solver" default="bio_ik"/>
  <arg name="hand_ik_solver_path" value="$(find teleop_motorhand)/config/kinematics.yaml" />

  <!-- Broadcast static tf for robot root -->
  <node name="virtual_joint_broadcaster" pkg="sr_moveit_hand_config" type="virtual_joint_broadcaster.py" output="screen" />
  
  <include file="$(find teleop_motorhand)/launch/planning_context.launch" >
    <arg name="hand_ik_solver_path" value="$(arg hand_ik_solver_path)"/>
  </include>
  
  <node name="conditional_delayed_rostool_movegroup_hand" pkg="sr_utilities_common" type="conditional_delayed_rostool.py" output="screen" required="true">
    <param name="package_name" value="teleop_motorhand" />
    <param name="executable_name" value="move_group.launch" />
    <rosparam param="params_list">[/robot_description, /robot_description_semantic]</rosparam>
    <param name="launch_args_list" value="hand_ik_solver_path:=$(arg hand_ik_solver_path)
    allow_trajectory_execution:=true
    fake_execution:=false
    info:=true
    debug:=$(arg debug)
    publish_monitored_planning_scene:=true
    pipeline:=$(arg planning)"/>
    <param name="timeout" value="20.0" />
  </node>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <group if="$(arg gui)">
    <node name="conditional_delayed_rostool_rviz_hand" pkg="sr_utilities_common" type="conditional_delayed_rostool.py" output="screen" required="true">
      <param name="package_name" value="teleop_motorhand" />
      <param name="executable_name" value="moveit_rviz.launch" />
      <rosparam param="params_list">[/robot_description, /robot_description_semantic]</rosparam>
      <param name="launch_args_list" value="hand_ik_solver_path:=$(arg hand_ik_solver_path)
      config:=true
      debug:=$(arg debug)" />
      <param name="timeout" value="20.0" />
    </node>
  </group>

</launch>
