<?xml version="1.0" ?>
<launch>

  <arg name="hand_id" default="rh"/>
  <arg name="sim" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true" />
  <!-- Set to true to spawn trajectory controllers for the hands(the trajectory controller overwrites continuously the joint position command, preventing direct control via topics-->
  <arg name="hand_trajectory" default="true"/>
  <arg name="hand_serial" default="554"/>
  <arg name="eth_port" default="enp2s0"/>
  <arg name="use_moveit" default="true"/>
  <arg name="pwm_control" default="true"/>
  <arg name="gui" default="true"/>
  <!-- the path to the mapping files -->
  <arg name="mapping_path" default="$(find sr_edc_launch)/mappings/default_mappings/rh_E_v1.yaml"/>

  <!-- robot description -->
  <arg name="robot_description" value="$(find teleop_motorhand)/robots/tams_motorhand.urdf.xacro" />

  <param name="/hand/mapping/$(arg hand_serial)" value="$(arg hand_id)"/>
  <param name="/hand/joint_prefix/$(arg hand_serial)" value="$(arg hand_id)_"/>

  <!-- SIMULATED ROBOTS -->
  <group if="$(arg sim)">
    <arg name="world_name" value="$(find teleop_motorhand)/worlds/shadowhand_multiview.world"/>
    <arg name="paused" value="false"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" default="$(arg world_name)"/>
      <arg name="gui" default="$(arg gui)"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="verbose" value="$(arg verbose)" />
    </include>
    <param name="robot_description" command="xacro --inorder $(arg robot_description)"/>
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model usrh -z 0.0 "
          respawn="false" output="screen"/>

    <rosparam command="load" file="$(find sr_description)/hand/config/$(arg hand_id)_controller_gazebo.yaml"/>

    <include file="$(find ros_ethercat_model)/launch/joint_state_publisher.launch" />

    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" type="string" value="" />
    </node>
  </group>

  <!-- REAL ROBOTS -->
  <group unless="$(arg sim)">
    <include file="$(find sr_edc_launch)/sr_edc_ros_control.launch">
      <arg name="debug" value="$(arg debug)"/>
      <arg name="eth_port" value="$(arg eth_port)"/>
      <arg name="robot_description" value="$(arg robot_description)"/>
      <arg name="pwm_control" value="$(arg pwm_control)"/>
      <arg name="hand_serial" value="$(arg hand_serial)"/>
      <arg name="hand_id" value="$(arg hand_id)"/>
      <arg name="mapping_path" value="$(arg mapping_path)"/>
    </include>
  </group>

  <!-- MOVEIT -->
  <group if="$(arg use_moveit)">
    <node pkg="teleop_motorhand" type="timed_roslaunch.sh" args="15 teleop_motorhand moveit_planning_and_execution.launch
      use_gui:=$(arg gui)" name="timed_roslaunch" output="screen"/>
  </group>

  <!-- Controller -->
   <node name="$(arg hand_id)_trajectory_controller" pkg="sr_utilities" type="trajectory_controller_spawner.py" output="screen">
      <param name="hand_trajectory" value ="$(arg hand_trajectory)"/>
      <param name="wait_for" value ="/calibrated" unless="$(arg sim)"/>
   </node>
</launch>
